<% content_for :script do %>
<% end %>

<% content_for :script_onload do %>
<% end %>

<% content_for :header do %>
<% end %>

<h1>Team email List</h1>

<table>
  <tr>
    <th>Email</th>
  </tr>

<% for member in @team %>
  <tr>
    <td><%=h member.mail %></td>
  </tr>
<% end %>
</table>

<br />
